body {
    background: #777;
    margin: 0;
}

.p5Canvas {
    background: #888;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height: 30vh;
}
.container {
    background: #888;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    height: 8vh;
}
button {
    cursor: pointer;
}
.container button {
    background: green;
    border-radius: 10px;
    padding: 1rem;
    margin: 0 1rem;
}
#reset {
    background: maroon;
}